/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --name-color:#DB00FF;
  --name-descript-color:#F1B2CE;
  --section-name-color:#FF0070;
  --text-shadow-name-color:#FF0070;
  --big-text-background-color:#FF0070;
  --decorated-zone-color:#FF0070;
  --button-color:#FF0070;
  --button-hover-color:#FF007066;
  --background-color:#000028;
  --master-text-color:#000028;
  --link-shadow:#FF0070;
  --footer-shadow-name:#FF0070;
}
.theme-dark  .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --pg-main-background-image: url("../images/cover-image-dark.png");
  --main-bg-color: var(#000028);
}
.theme-dark .rec-signal {
  inset-block-start: 20px;
  inset-inline-end: 30px;
  gap: 10px;
  display: inline-flex;
  position: absolute;
  visibility: var(--rec-signal-visible, visible);
  z-index: -1;
  align-items: center;
}
.theme-dark .rec-signal::after {
  block-size: 9px;
  inline-size: 9px;
  display: inline-block;
  content: "";
  box-shadow: 0 0 2px 2px var(--feature-color, #ff0070);
  background: var(--feature-color, #ff0070);
  border-radius: 50%;
}
.theme-dark .rec-signal::before {
  content: "REC";
  color: var(--feature-color, #ff0070);
  line-height: 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --name-color:#DB00FF;
    --name-descript-color:#F1B2CE;
    --section-name-color:#FF0070;
    --text-shadow-name-color:#FF0070;
    --big-text-background-color:#FF0070;
    --decorated-zone-color:#FF0070;
    --button-color:#FF0070;
    --button-hover-color:#FF007066;
    --background-color:#000028;
    --master-text-color:#000028;
    --link-shadow:#FF0070;
    --footer-shadow-name:#FF0070;
  }
  .page {
    --main-bg-color: var(#000028);
    --pg-main-background-image: url("../images/cover-image-dark.png");
  }
  .rec-signal {
    inset-block-start: 20px;
    inset-inline-end: 30px;
    gap: 10px;
    display: inline-flex;
    position: absolute;
    visibility: var(--rec-signal-visible, visible);
    z-index: -1;
    align-items: center;
  }
  .rec-signal::after {
    block-size: 9px;
    inline-size: 9px;
    display: inline-block;
    content: "";
    box-shadow: 0 0 2px 2px var(--feature-color, #ff0070);
    background: var(--feature-color, #ff0070);
    border-radius: 50%;
  }
  .rec-signal::before {
    content: "REC";
    color: var(--feature-color, #ff0070);
    line-height: 24px;
  }
}