/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --name-color:#ffc2e6;
  --name-descript-color:#353430;
  --section-name-color:#353430;
  --text-shadow-name-color:#ff8dcb;
  --big-text-background-color:#ff8dcb;
  --decorated-zone-color:#353430;
  --button-color:#353430;
  --button-hover-color:#32312D66;
  --background-color:#fff1f7;
  --master-text-color:#353430;
  --link-shadow:#ff8dcb;
  --footer-shadow-name:#ff8dcb;
}
.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --pg-main-background-image: url("../images/cover-image-light.png");
  --main-bg-color: var(#fff1f7);
}

@media (width>=1024px) {
  :root.theme-light {
    --footer-shadow-name:#ff0070;
  }
}