/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(
    --pg-main-background-image,
    url("../images/cover-image-light.png")
  );
}
.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  padding: 10px;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}
.decorated-zone::before {
  inline-size: 25px;
  block-size: 25px;
  content: "";
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
  position: absolute;
  justify-self: end;
  align-self: flex-start;
}
.decorated-zone::after {
  inline-size: 25px;
  block-size: 25px;
  content: "";
  border-block-end: 1px solid var(--decorated-zone-color);
  border-inline-start: 1px solid var(--decorated-zone-color);
  position: absolute;
  justify-self: start;
  align-self: flex-end;
}
.header__theme-menu {
  justify-self: end;
  grid-column: 1 / 3;
}
.header__theme-menu-list {
  display: grid;
  gap: 10px;
}
.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  cursor: pointer;
  border: none;
  color: var(--decorated-zone-color);
  font-size: var(--font-size);
  line-height: var(--standart-line-height);
}
.header__theme-menu-button_active {
  border: 1px solid var(--decorated-zone-color);
  pointer-events: none;
}
.header__name {
  justify-self: start;
  grid-column: 1 / 3;
  color: var(--name-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--text-shadow-name-color);
}
.header__name-description {
  display: inline-block;
  justify-content: end;
  grid-column: 1 / 3;
}
.subhead {
  color: var(--master-text-color);
  background-color: var(--big-text-background-color, #FF8DCB);
  font-size: var(--font-size);
  font-weight: var(--weight-bold);
  line-height: var(--standart-line-height);
}
.main__place {
  display: grid;
  margin-block: 40px;
  row-gap: 50px;
  padding-inline: 10px;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
}
.main__place-section {
  display: grid;
  gap: 20px;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;
}
.main__place-section__name {
  grid-column: 1 / 4;
  color: var(--section-name-color);
  font-size: var(--font-size);
  font-weight: var(--weight-bold);
  line-height: var(--standart-line-height);
}
.main__place-card {
  display: grid;
  grid-column: 1 / 4;
  row-gap: 10px;
  grid-auto-flow: row;
  grid-template-rows: min-content auto;
}
.main__place-card__name {
  grid-column: 1 / 4;
}
.main__place-card__text {
  grid-column: 1 / 4;
  color: var(--name-descript-color);
  font-size: var(--font-size);
  line-height: var(--standart-line-height);
}
.main__place-section__dophamine-help {
  grid-column: 1 / 4;
  color: var(--name-descript-color);
  background-color: var(--master-text-color);
  font-size: var(--font-size);
  font-weight: var(--weight-bold);
  line-height: var(--standart-line-height);
}
.main__place-png-files {
  display: grid;
  gap: var(--card-gap,10px);
  grid-column: 1 / 4;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
}
.linking {
  text-shadow: 2px 2px 2px var(--link-shadow, #FF8DCB);
  text-decoration: none;
  cursor: pointer;
}
.linking:focus-visible {
  outline: solid 2px var(--decorated-zone-color,#353430);
}
.linking:hover {
  text-shadow: 2px 2px 2px var(--link-shadow, #FF8DCB);
  text-decoration: underline;
}
.main__place-png-files__name {
  grid-column: 1 / 4;
}
.main__place-png-files__photo {
  width: 100%;
  height: 100%;
  grid-column: 1 / 4;
}
.footer {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--pg-paddings, 10px);
}
.footer__title {
  align-self: center;
  justify-self: center;
  line-height: 83%;
  font-style: Bold;
  color: var(--name-color, #ffc2e6);
  font-size: var(--name-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  text-shadow: var( --footer-shadow, 2px) var( --footer-shadow, 2px) var(--footer-shadow-name, #ff0070);
  font-weight: var( --name-weight, 700);
}
@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
  .header__name {
    position: relative;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  .header__name-description {
    grid-column: 2 / 3;
  }
  .main__place {
    padding-inline: 20px;
    margin-block: 60px;
    row-gap: 80px;
  }
  .main__place-section {
    grid-template-columns: 1fr 2fr;
  }
  .main__place-section__name {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .main__place-section > .main__place-section__dophamine-help {
    grid-column: 2 / 3;
  }
  .main__place-card {
    grid-column: 2 / 3;
  }
  .main__place-png-files {
    gap: 20px;
  }
  .main__place-png-files__photo {
    object-position: center;
    object-fit: cover;
  }
  .main__place-section:nth-child(2) .main__place-card {
    grid-column: 1 / 4;
  }
  .main__place-png-files__photo:nth-child(2) {
    grid-column: 1 / 3;
  }
  .main__place-png-files__photo:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }
  .main__place-png-files__photo:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  .main__place-png-files__photo:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .main__place-png-files__photo:nth-child(6) {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
  }
  .footer {
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    grid-auto-flow: column;
  }
  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border: 1px solid var(--big-text-background-color-opacity);
  }
  .header__theme-menu-button:focus {
    outline: none;
  }
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--decorated-zone-color);
    outline: none;
    border: none;
  }
  .header__name {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .main__place-section {
    grid-template-columns: repeat(3, 1fr);
  }
   .main__place-section:nth-child(2) {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
  }
  .main__place-section:nth-child(2) .main__place-section__name {
    grid-row: span 1;
  }
  .main__place-section:nth-child(2) .main__place-card {
    grid-row: 2 / 3 ;
    grid-column: span 1;
  }
  .main__place-card {
    grid-column: 2 / 4;
  }
  .main__place-section > .main__place-section__dophamine-help {
    grid-column: 2 / 4;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}